pdk/sky130A/

# Tarball archives (too large for git)
*.tar.gz

# EXCEPT the split archive parts (these are small enough for git)
!pdk_archive/*.tar.gz

# Synthesis outputs
synthesis/soc_results/
synthesis/cadence/outputs/
synthesis/cadence/reports/
synthesis/cadence/*.log
