pdk/sky130A_stubs_backup/
pdk/sky130A/

# Tarball archives (too large for git)
*.tar.gz

# EXCEPT the split archive parts (these are small enough for git)
!pdk_archive/*.tar.gz

synthesis_cadence/final_design.enc.dat/
synthesis_cadence/outputs/final_design.enc.dat/
synthesis_cadence/timingReports
